:root {
	--width-container-a1: 1240px;
	--width-container-a2: 1020px;
	--width-container-a3: 600px;

	--font-size-a1: 20px;
	--font-size-a2: 18px;
	--font-size-a3: 16px;
	--font-size-a4: 14px;
	--font-size-a5: 12px;
	--font-size-a6: 10px;

	--color-white-a1: #f2f2f7;
	--color-black-a1: #000000de;
	--color-green-a1: #5ece894d;
	--color-green-a2: #144646;
	--color-green-a3: #3f6c6c;
	--color-violet-a1: #c888a64d;
	--color-orange-a1: #754822;
	--color-orange-a2: #ae8410;
	--color-orange-a3: #804400;

	--color-background-gradient: linear-gradient(rgba(63, 108, 108, 1), #cfdbe7, rgba(144, 198, 184, 1));

	--displacement-size: calc(-120px * 1 - 40px);
}
